//Colors
$grey: #333333;
$black: #0a0a0a;
$light-blue: #2199e8;
//navigation colors
$nav-background: $grey;

// Clock colors
$clock-text-color : white;
$clock-bg-color : #B5D0E2;
$clock-border-color : #2099E8;
